<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Max's Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#" aria-controls="" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved"> The Saved </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">Scrape for new</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">Clear</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Huffington Post Scraper</h1>
    <p>Huffington Post</p>
  </div>
</div>
<div class="container-fluid article-container">
  {{#each articles}}
  <div data-_id="{{this._id}}" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a>
        <a class="btn btn-success save">Save the Article</a>
      </h3>
    </div>
    <!--<div class="card-body">{{this.summary}}</div>
  </div>-->
  {{/each}} {{#unless articles.length}}
  <div class='alert alert-warning text-center'>
    <h4>No new articles.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3></h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Scrape</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved</a>
      </h4>
    </div>
  </div>
  {{/unless}}
</div>

<footer class="footer">
  <div class="container">
    <p>Huffington Post Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>
